body {
    min-height: 100%;
    margin-bottom: 50px;
}

.container {
    margin-top: 4vh;
    text-align: center;
    overflow-wrap: break-word;
}

div.profile-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: 5vh;
}

div.cover-wrapper {
    display: inline-table;
    text-align: center;
}

h4 {
    display: inline;
    margin-right: 0.35em;
    font-weight: normal;

    p {
        display: inline;
    }
}

img.profile {
    max-width: 35vw;
}

img.cover {
    max-width: 55vw;
}

h1 {
    margin-bottom: 1vh;
}

.link-caption {
    display: inline-block;
    margin-top: 0.5%;
}

.cover-caption {
    display: table-caption;
    caption-side: bottom;
    font-style: italic;
    margin-bottom: 5vh;
}

.footer-wrapper {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 4%;
    text-align: center;
}

.copyright {
    font-size: small;
}
