body {
    min-height: 100%;
    margin-top: 4vh;
    margin-bottom: 50px;
    text-align: center;
    overflow-wrap: break-word;
}

div.profile-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: 5vh;
}

div.cover-wrapper {
    display: inline-table;
}

img.profile {
    max-width: 35vw;
    max-height: 25vh;
}

img.cover {
    max-width: 60vw;
    max-height: 35vh;
}

h1 {
    margin-bottom: 1vh;
}

.link-caption {
    display: inline-block;
    margin-top: 0;
    margin-right: 0.35em;
    font-weight: normal;
}

.email-caption {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 4%;
    margin-right: 0.35em;
    font-weight: normal;
}

.cover-caption {
    display: table-caption;
    caption-side: bottom;
    font-style: italic;
    margin-bottom: 5vh;
}

.footer-wrapper {
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: auto;
    margin-bottom: 4vh;
    text-align: center;
    font-size: small;
}
