@font-face {
    font-family: 'Sysfont';
    src: url('../fonts/sysfont.woff2') format('woff2'),
        url('../fonts/sysfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'W95fa';
    src: url('../fonts/w95fa.woff2') format('woff2'),
        url('../fonts/w95fa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100%;
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
    line-height: 1.4;
    text-align: left;
    overflow-wrap: break-word;
    font-family: "Sysfont", "Times New Roman";
}

h1 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.home-link {
    display: inline-block;
    margin-top: 0;
    margin-right: 0.35em;
    font-weight: normal;
    font-family: "W95fa";
}

#content {
    font-family: "Times New Roman", system-ui, sans-serif;
}

.indent {
  margin-left: 2em;
}

.footer-wrapper {
    position: relative;
    text-align: left;
    font-size: small;
    margin-top: 3vh;
}