@font-face {
    font-family: 'Sysfont';
    src: url('../fonts/sysfont.woff2') format('woff2'),
        url('../fonts/sysfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'W95fa';
    src: url('../fonts/w95fa.woff2') format('woff2'),
        url('../fonts/w95fa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.cjk-font {
    font-family: "Noto Sans CJK SC", "Microsoft YaHei", "SimHei", "Meiryo", "MS PGothic", "Arial Unicode MS", Arial, sans-serif;
}

.ru-font {
    font-family: Arial, sans-serif;
}

body {
    min-height: 100%;
    margin-top: 4vh;
    text-align: center;
    overflow-wrap: break-word;
    font-family: "Sysfont", "Times New Roman";
}

div.profile-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-bottom: 4vh;
}

div.cover-wrapper {
    display: inline-table;
}

img.profile {
    max-width: 35vw;
    max-height: 20vh;
}

img.cover {
    max-width: 75vw;
    max-height: 40vh;
}

h1 {
    margin-bottom: 1vh;
}

.link-caption {
    display: inline-block;
    margin-top: 0;
    margin-right: 0.35em;
    font-weight: normal;
}

.email-caption {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 4%;
    margin-right: 0.35em;
    font-weight: normal;
    font-family: "W95fa";
}

.cover-caption {
    display: table-caption;
    caption-side: bottom;
    margin-top: 0.5vh;
}

.lang-link {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 4%;
    margin-right: 0.35em;
    font-weight: normal;
    font-family: "W95fa";
}

.footer-wrapper {
    position: relative;
    text-align: center;
    font-size: small;
    margin-top: 3vh;
}